@import url(fonts/code_light/stylesheet.css);
@import url(fonts/code_bold/stylesheet.css);
@import url(fonts/roboto/stylesheet.css);

body{
    padding: 0;
    margin: 0;
   
}

.homepg{
    
}

.app-head{
    
position: absolute;
width: 415px;
height: 90px;
left: -5px;
top: 0px;

background: #1A2B3B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}


.top-logo{
    position: absolute;
width: 41px;
height: 41px;
left: 15px;
top: 36px;
}

.lgtxt{
position: absolute;
width: 282px;
height: 75px;
left: 69px;
top: 41px;

font-family: Code Light;
font-style: normal;
font-weight: 300;
line-height: normal;
font-size: 26px;

color: #FFFFFF;
}

.cdbold{
    font-family: "Code-Bold";
}

.op1{
    position: absolute;
    width: 76.92px;
    height: 71.6px;
    left: 166.04px;
    top: 145px;
    
    background: url(../res/envir.png);
    background-size: cover;
}

.op2{
    position: absolute;
width: 73px;
height: 60px;
left: 168px;
top: 314px;
    
    background: url(../res/barcode-512.png);
    background-size: cover;
}

.op3{
    position: absolute;
width: 67px;
height: 56px;
left: 174px;
top: 469px;

background: url(../res/price.png);
background-size: cover;
}

.op1tx{
    position: absolute;
    width: 249px;
    height: 53.38px;
    left: 80px;
    top: 229.62px;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    
    color: #1A2B3B;
}

.op2tx{
    position: absolute;
width: 169px;
height: 59px;
left: 121px;
top: 376px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    
    
}

.op3tx{
    position: absolute;
width: 112px;
height: 46px;
left: 151px;
top: 536px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
font-style: normal;
font-weight: 300;
line-height: normal;
font-size: 16px;
text-align: center;

color: #1A2B3B;
}

.line1{
    position: absolute;
width: 380px;
height: 0px;
left: 15px;
top: 303px;

border: 1px solid #BAB8B8;
transform: rotate(180deg);
}

.line2{
    position: absolute;
width: 379px;
height: 0px;
left: 15px;
top: 458px;

border: 1px solid #BAB8B8;
transform: rotate(180deg);
}

.footr{
    position: absolute;
width: 415px;
height: 80px;
left: 0px;
top: 647px;

background: #1A2B3B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}


.wlc{
    position: absolute;
width: 112px;
height: 419px;
left: 411px;
top: 175px;

background: url(../res/image.png);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
background-size: cover;
}

.qs{
position: absolute;
width: 15px;
height: 23px;
left: 195px;
top: 670px;

background: url(../res/ques.png);
background-size: cover;
}

.inf{
    
position: absolute;
width: 35px;
height: 17px;
left: 190px;
top: 680px;

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
font-style: normal;
font-weight: 300;
line-height: normal;
font-size: 14px;

color: #F2F2F2;
}


a{ 
    text-decoration: inherit;
    color: inherit;
}

.resl{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #1A2B3B;


}