<!DOCTYPE HTML>
<html>

<head>
    <title>Splash Screen </title>
    <meta name="viewport" content="width = device-width, initial-scale = 1">

    <link rel="stylesheet" type="text/css" href="../static/css/pg3.css">
</head>

<body>
    <div class="homepg">
        <div class="app-head"></div>
        <img src="../static/res/logo.png" class="top-logo">
        <div class="lgtxt">CHECK
            <span class="cdbold">OUT</span>
        </div>

        <a href="/api" rel="external">
        < <div class="op1"></div>
    <p class="op1tx">Ambient
        <br>Scan</p>
    </a>

    <div class="line1"></div>
    <a href="/barcode" rel="external">
        <div class="op2"></div>
        <p class="op2tx">Barcode
            <br>Search</p>
    </a>

    <div class="line2"></div>

    <a href="/keysrch" rel="external">
    <div class="op3"></div>
    <p class="op3tx">Price
        <br>Comparision</p>
        </a>

    <a href="./index2" rel="external">
        <div class="footr"></div>
        <div class="qs"></div>
        <p class="inf">Info</p>
    </a>

    </div>
</body>

</html>