<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel = "stylesheet" href = "https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src = "https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src = "https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <title>Splash Screen </title>
    <link rel="stylesheet" type="text/css" href="../static/css/hover.css">

    <script type="text/javascript" src="../static/js/script.js"></script>

</head>
<body>
    <div class="pg1">
        <div class="hd1">CHECK <span class="cdbold">OUT</span></div>
        <img src="../static/res/logo.png" class="logo-splash">
        <a href="/index2" class="transition"  ><div class="bbbtn hvr-fade"> Get Started ! </div></a> 
    </div>
</body>
</html>