<!DOCTYPE html>
<meta charset=utf-8>
<html lang="en">

<head>
    <script>
        function srch(){
        var srchtm = 'https://www.barcodelookup.com/' + document.getElementById("txtp").value;
        document.getElementById('ifrm').src=srchtm;
                        }
        </script>
	<title>Splash Screen </title>
	<meta name="viewport" content="width = device-width, initial-scale = 1">
	<link rel="stylesheet" type="text/css" href="../static/css/pg3.css">
</head>

<body>

	<div class="app-head"></div>
	<img src="../static/res/logo.png" class="top-logo">
	<div class="lgtxt">CHECK
		<span class="cdbold">OUT</span>
	</div>
    <div style=" position:absolute; top:150px; left:65px;">
    <input type="text" class="advancedSearchTextBox" id="txtp" style="align-content: center;" placeholder="Try typing something in here!" /> 
    <button type="input" onclick="srch()" id="bnn" style="height:30px;">Search !</button>
    	<h1 class="resl">Scan Result(s):</h1>
    </div>
		
	
		<div style=" position:absolute; top:250px; border: 3px solid #1A2B3B; overflow: hidden; margin: 15px auto; width: 97%;">
			<iframe id="ifrm" , scrolling, scrollable : none, style="border: 0px none;  height: 1700px; width: 100%; margin: -350px 0px -900px 0px">
			</iframe>
		</div>
		

</body>

</html>